---
http_interactions:
- request:
    method: post
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=<SMARTY_AUTH_ID>&auth-token=<SMARTY_AUTH_TOKEN>
    body:
      encoding: UTF-8
      string: '[{"street":"2298 West 28th Ave","city":"Denver","state":"CO","zip":"80211"},{"street":"1138
        Corona St","city":"Denver","state":"CO","zip":"80218"}]'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"2298 W 28th
        Ave","last_line":"Denver CO 80211-4414","delivery_point_barcode":"802114414997","components":{"primary_number":"2298","street_predirection":"W","street_name":"28th","street_suffix":"Ave","city_name":"Denver","default_city_name":"Denver","state_abbreviation":"CO","zipcode":"80211","plus4_code":"4414","delivery_point":"99","delivery_point_check_digit":"7"},"metadata":{"record_type":"H","zip_type":"Standard","county_fips":"08031","county_name":"Denver","carrier_route":"C050","congressional_district":"01","building_default_indicator":"Y","rdi":"Residential","elot_sequence":"0124","elot_sort":"A","latitude":39.753880,"longitude":-105.035230,"precision":"Zip9","time_zone":"Mountain","utc_offset":-7,"dst":true},"analysis":{"dpv_match_code":"D","dpv_footnotes":"AAN1","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"Y","active":"Y","footnotes":"H#N#"}},{"input_index":1,"candidate_index":0,"delivery_line_1":"1138
        N Corona St","last_line":"Denver CO 80218-2849","delivery_point_barcode":"802182849990","components":{"primary_number":"1138","street_predirection":"N","street_name":"Corona","street_suffix":"St","city_name":"Denver","default_city_name":"Denver","state_abbreviation":"CO","zipcode":"80218","plus4_code":"2849","delivery_point":"99","delivery_point_check_digit":"0"},"metadata":{"record_type":"H","zip_type":"Standard","county_fips":"08031","county_name":"Denver","carrier_route":"C023","congressional_district":"01","building_default_indicator":"Y","rdi":"Residential","elot_sequence":"0002","elot_sort":"A","latitude":39.734260,"longitude":-104.974020,"precision":"Zip9","time_zone":"Mountain","utc_offset":-7,"dst":true},"analysis":{"dpv_match_code":"D","dpv_footnotes":"AAN1","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"Y","active":"Y","footnotes":"I#"}}]'
  recorded_at: Thu, 13 May 2021 23:21:19 GMT
recorded_with: VCR 6.0.0
